.list-view {
  display: flex;
  padding-bottom: 12px;
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 12px;
  overflow-x: hidden;
}
.list-view:last-of-type {
  border-bottom: none !important;
}
.list-view img {
  width: 74px;
  height: 74px;
  object-fit: cover;
}
.list-view p {
  margin-left: 16px;
}
.active {
  color: #06a9f6;
}
hr {
  border-bottom: 1px solid #eaeaea;
}
